espnet==202207
tensorflow==2.8
espnet-model-zoo==0.1.7 
pygame==2.1.0 
pvporcupine==2.1.3 
pvrecorder 
transformers==4.28.0 
SpeechRecognition 
playsound==1.3.0 
termcolor==1.1.0 
audioplayer 
ffmpeg 
