<launch>


  <rosparam command="load" ns="butia_hotword_detection" file="$(find butia_hotword_detection)/config/ros.yaml"/>
  <rosparam command="load" ns="butia_hotword_detection" file="$(find butia_hotword_detection)/config/butia_hotword_detection.yaml"/>

  <node name="detector_hotword_node" pkg="butia_hotword_detection" type="detector_hotword_node.py" output="screen"/>


</launch>