<?xml version="1.0" ?>
<launch>
    <arg name="machine" default="jetson"/>
    <arg name="speech_to_text_machine" default="$(arg machine)"/>
    <arg name="use_machine" default="true"/>
    <arg name="challenge_config" default="$(find butia_speech)/config/butia_speech_recognizer.yaml"/>

	<node name="speech_recognizer" pkg="butia_speech" type="speech_recognizer.py" output="screen" machine="$(arg speech_to_text_machine)">
		<rosparam file="$(find butia_speech)/config/ros.yaml" command="load"/>
		<rosparam file="$(arg challenge_config)" command="load"/>
	</node>
</launch>
