<?xml version="1.0" ?>
<launch>
    <arg name="speech_synthesizer_machine"/>
    <arg name="use_machine" default="true"/>

    <!-- <param name="robot_name" value="doris" /> -->


    <rosparam file="$(find butia_speech)/config/ros.yaml" command="load"/>
    <rosparam file="$(find butia_speech)/config/butia_speech_synthesizer.yaml" command="load"/>
    
    <node name="audio_player" pkg="butia_speech" type="audio_player.py" output="screen"/>

    <node name="speech_synthesizer" pkg="butia_speech" type="speech_synthesizer.py" output="screen" machine="$(arg speech_synthesizer_machine)"/>
</launch>